/* color table rows */
tr:nth-child(even){
    background: darkgrey;
}

tr:nth-child(odd){
    background: lightgrey;
}

/* header */
header{
    background-color: slategray;
    text-align: center;
}

/* monthly cost */

#totalMonthly{
    text-align: right;
}